@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w SDSYSTEM</h1>
    <p>Zaloguj się lub stwórz nowy ticket</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Zaloguj się</a>
    <a class="btn btn-secondary" asp-controller="Tickets" asp-action="Create">Utwórz nowy ticket</a>
</div>
