@{
    ViewData["Title"] = "Strona główna";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">SD SYSTEM</h1>
    <div class="user-actions">
        <p>
            <a class="btn btn-primary btn-lg" asp-controller="Tickets" asp-action="Create">Utwórz zgłoszenie</a>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" asp-controller="Search" asp-action="Search">Sprawdź status zgłoszenia</a>
        </p>
    </div>
    <div class="coordinator-actions">
        <p>
            <a class="btn btn-secondary btn-lg" asp-controller="Account" asp-action="Login">Panel koordynatora</a>
        </p>
    </div>
</div>
