@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w SDSYSTEM</h1>
    <p>Manage employee tickets and provide technical support services efficiently.</p>
    <a class="btn btn-primary" asp-controller="Tickets" asp-action="Index">Wyświetl tickety</a>
    <a class="btn btn-secondary" asp-controller="Users" asp-action="Index">Zarządzaj użytkownikami</a>
</div>
