/* site.css */

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif; /* Zmieniono czcionkê */
    background-color: #f8f9fa;
    color: #343a40;
}

h1.display-4 {
    margin-top: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif; /* Zmieniono czcionkê */
}

/* Navigation Styles */
.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #343a40 !important;
    font-family: 'Roboto', sans-serif; /* Zmieniono czcionkê */
}

    .navbar-brand:hover, .nav-link:hover {
        color: #ffc107 !important;
    }

/* Main Container Styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Home Page Styles */
.user-actions {
    margin-top: 30px;
}

.coordinator-actions {
    margin-top: 30px;
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

/* Footer Styles */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}

    .footer a {
        color: #ffc107;
    }

        .footer a:hover {
            color: #ffffff;
        }
